.inventory-wrapper { //Main inventory wrapper
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    .right-inventories {
        position: absolute;
        background-color: green;
        
        width: 42%;
        height: 94%;

        right: 0vh;
        
        overflow: auto;
    }

    .inventory-grid-wrapper {
        
        position: absolute;

        &.character-inventory {
           
            width: 10.5vh;
            height: 68.9vh;
            
            left: 0vh;
        }
    
        &.player-inventory {
           
            width: 53.1vh;
            height: 68.9vh;

            right: 57.4vh;
        }

        &.right-inventory {
            position: relative;
            width: 52.9vh;
            
            right: 0vh;
            margin-bottom: 4.1vh;
            

            &.last {
                margin-bottom: 0vh;
            }

            &.medium {
                height: 37.6vh;
            }

            &.small {
                height: 27.2vh;
            }
        }
        
        .wrapper {
            height: 100%;
            width: 100%;

            .inventory-info {
                position: absolute;

                width: 100%;
                height: 6.3vh;

                .name {
                    position: absolute;
                    top: -1.7vh;
                    left: 0.5vh;

                    font-size: 2.3vh;
                    font-weight: bold;

                    color: var(--blue1);
                }

                .weight {
                    position: absolute;
                    top: 1.6vh;
                    left: 0.5vh;
                    
                    font-size: 1.6vh;

                    color: var(--white);
                }

                .weight-bar {
                    position: absolute;

                    bottom: 0.1vh;
                    left: 0.5vh;

                    width: 51.25vh;
                    height: 0.9vh;
                    
                   

                    .cover {
                        position: absolute;
                        width: 100%; //Weight bar
                        height: 100%;
                        overflow: hidden;
                        
                        transition: all 0.5s;

                        .color {
                            width: 51.25vh;
                            height: 100%;
                            position: absolute;
                            left: 0vh;
                            background: var(--weight-bar);
                            border-radius: 1vh;
                        }
                    }
                    
                    
                }
            }
            
            .inventory-grid {
                position: absolute;
                display: flex;
                flex-wrap: wrap;
        
                overflow: auto;

                width: 100%;
                height: 100%;

                &.main {
                    height: 62.7vh;
                    bottom: 0vh;
                }

                &.medium {
                    height: 31.35vh;
                    bottom: 0vh;
                }

                &.small {
                    height: 20.9vh;
                    bottom: 0vh;
                }

                &.side {
                    height: 62.7vh;
                    bottom: 0vh;
                }
    
                .inventory-slot {
                    position: relative;
    
                    width: 9.45vh;
                    height: 9.45vh;
    
                    margin-left: 0.5vh;
                    margin-right: 0.5vh;
                    margin-top: 0.5vh;
                    margin-bottom: 0.5vh;
    
                    background: var(--inventory-slot-color);
                    border-radius: 0.4vh;
                    

                    .background-icon {
                        height: 100%;
                        width: 100%;

                        i {
                            color: var(--dark2);
                            font-size: 4.2vh;

                            position: absolute;

                            top: 50%;
                            left: 50%;

                            transform: translate(-50%, -50%);
                        }
                    }

                    .amount {
                        position: absolute;
                        color: var(--white);

                        top: 0.2vh;
                        right: 0.35vh;
                  
                        text-align: right;

                        font-size: var(--inventory-slot-item-amount-size);
                    }

                    img {
                        position: absolute;
                        width: var(-inventory-slot-item-img-size);
                        height: var(--inventory-slot-item-img-size);
                      

                        bottom: calc(var(--inventory-slot-item-quality-size) - 0.4vh);
                        left: 50%;
                   

                        transform: translate(-50%);
                    }

                    .quality {
                        position: absolute;

                        background-color: var(--inventory-slot-item-quality-color);

                        border-bottom-left-radius: 0.4vh;
                        border-bottom-right-radius: 0.4vh;
                        bottom: 0vh;
                        left: 0vh;

                        height: var(--inventory-slot-item-quality-size);
                        width: 100%;
                    }


                    &:hover {
                        background: var(--inventory-slot-hover);
                        outline: 0.5vh solid var(--blueOutline); 
                        cursor: pointer;

                            
                        .quality {
                            display: none;
                        }
                    }
                }
            }
        }

        
        
    }

    .slot-info {
        position: relative;
        
        background: var(--inventory-slot-context-info);
        
        width: 100%;
        height: 8.2vh;
        border-radius: 0.5vh;

        margin-bottom: 0.6vh;

        .label {
            color: var(--white);
            position: absolute;

            top: -0.2vh;
            left: 1.55vh;

            font-size: 1.7vh;
        }

        .extra {
            position: absolute;

            top: 4.2vh;
            left: 1.55vh;

            width: 12vh;
            height: 2vh;


            .element {
                position: relative;

                display: inline-flex;

                margin-right: 0.6vh;

                height: 100%;
                width: fit-content;
                
                border-radius: 0.4vh;

                background: var(--inventory-slot-context-extra);

                .text {
                    color: var(--white);
                    position: relative;

                    top: -0.7vh;
                    margin-left: 0.6vh;
                    margin-right: 0.6vh;

                    font-size: 1.1vh;

                }
            }
        }
    }
}