@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  --white: #cccccc;
  --gray: rgb(136, 136, 136);
  --dark1: rgb(40, 40, 40);
  --dark2: rgb(55, 55, 55);
  --dark3: rgb(65, 65, 65);
  --blue1: rgb(37, 91, 172);
  --blue2: rgb(22, 54, 102);
  --blue3: rgb(20, 44, 82);
  --blueOutline: rgb(41, 84, 148);
  --inventory-slot-item-amount-size: 1.45vh;
  --inventory-slot-item-img-size: 8.2vh;
  --inventory-slot-item-quality-size: 0.4vh;
  --inventory-slot-item-quality-color: rgb(37, 91, 172);
  --inventory-slot-color: radial-gradient(circle, var(--dark1) 10%, #000000 200%);
  --inventory-slot-hover: radial-gradient(circle, var(--blue2) 10%, var(--blue3) 80%);
  --inventory-slot-context-info: radial-gradient(ellipse, rgba(80, 80, 80, 0.85) 30%, rgba(41, 41, 41, 0.85) 100%);
  --inventory-slot-context-action: radial-gradient(ellipse, rgba(80, 80, 80, 0.85) 30%, rgba(41, 41, 41, 0.85) 100%);
  --inventory-slot-context-action-hover: radial-gradient(circle, var(--blue2) 10%, var(--blue3) 80%);
  --inventory-slot-context-extra: radial-gradient(circle, rgba(40, 40, 40, 0.65) 20%, rgba(36, 36, 36, 0.65) 100%);
  --weight-bar: linear-gradient(to right,rgb(0, 170, 0), rgb(200, 0, 0));
  font-family: "Roboto", sans-serif;
}
*.not-pressable:hover {
  cursor: not-allowed !important;
}

::-webkit-scrollbar {
  width: 0.7vh;
}

::-webkit-scrollbar-track {
  background: rgba(41, 41, 41, 0.85);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(80, 80, 80, 0.85);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.95);
}