.context-tooltip {
    position: absolute;
    
    width: 28vh;
    height: 80px;

    z-index: 1000 !important;

    .slot-desc {
        position: relative;

        background: var(--inventory-slot-context-action);

        width: 100%;
        height: fit-content;
        border-radius: 5.0px;

        margin-top: -5px;

        .wrapper {
            position: relative;
            
            height: fit-content;

            .text {
                position: relative;
                color: var(--white);
                font-size: 10.6px;

                padding-left: 10.5px;
                padding-right: 10.5px;
                padding-top: 20px;
                padding-bottom: 20px;

            }
        }
    }
}



.context-actions {
    position: absolute;
    
    width: 30vh;
    height: 8vh;

    z-index: 1000 !important;

    .actions {
        position: absolute;

        height: fit-content;
        width: 100%;

        .slot-action {
            position: relative;

            margin-bottom: 0.6vh;

            border-radius: 0.6vh;

            height: 5.5vh;
            width: 100%;

            background: var(--inventory-slot-context-action);

            .icon {
                position: absolute;

                top: 50%;
                left: 1.3vh;
                transform: translateY(-50%);

                font-size: 3.2vh;

                color: var(--blue1);
            }

            .label {
                position: absolute;

                top: -0.55vh;
                left: 4.2vh;
                
                font-size: 1.5vh;

                color: var(--white);
            
            }

            &:hover {
                background: var(--inventory-slot-context-action-hover);
                outline: 0.25vh solid var(--blueOutline); 
                cursor: pointer;
            }
        }
    }

    
}