.inventory-wrapper { //Main inventory wrapper
    position: absolute;
    width: 1200px;
    height: 700px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    // background-color: red;

    .inventory-grid-wrapper {
        // background-color: green; 
        position: absolute;

        &.character-inventory {
           
            width: 100px;
            height: 660px;

            left: 00px;
        }
    
        &.player-inventory {
           
            width: 508.0px;
            height: 660px;

            right: 550.2px;

            // background-color: yellowgreen;
        }

        &.right-inventory {
          
            width: 509.0px;
            
            right: 0px;

            &.top {
                top: 00px;
                height: 360px;
            }

            &.bottom {
                bottom: 40px;
                height: 260px;
            }
        }
        
        .wrapper {
            height: 100%;
            width: 100%;

            .inventory-info {
                position: absolute;

                width: 100%;
                height: 60px;

               

                .name {
                    position: absolute;
                    top: -16px;
                    left: 5.0px;

                    font-size: 22.0px;
                    font-weight: bold;

                    color: var(--blue1);
                }

                .weight {
                    position: absolute;
                    top: 15.0px;
                    left: 5.0px;
                    
                    font-size: 15.0px;

                    color: var(--white);
                }

                .weight-bar {
                    position: absolute;

                    bottom: 0px;
                    left: 5.0px;

                    width: 490px;
                    height: 8.0px;
                    
                   

                    .cover {
                        position: absolute;
                        width: 100%; //Weight bar
                        height: 100%;
                        overflow: hidden;
                        
                        transition: all 0.5s;

                        .color {
                            width: 490px;
                            height: 100%;
                            position: absolute;
                            left: 00px;
                            background: var(--weight-bar);
                            border-radius: 10px;
                        }
                    }
                    
                    
                }
            }
            
            .inventory-grid {
                position: absolute;
                display: flex;
                flex-wrap: wrap;
        
                overflow: auto;

                width: 100%;
                height: 100%;

                &.main {
                    height: 600px;
                    bottom: 00px;
                }

                &.medium {
                    height: 300px;
                    bottom: 00px;
                }

                &.small {
                    height: 200px;
                    bottom: 00px;
                }

                &.side {
                    height: 600px;
                    bottom: 00px;
                }
    
                .inventory-slot {
                    position: relative;
    
                    width: 90px;
                    height: 90px;
    
                    margin-left: 5.0px;
                    margin-right: 5.0px;
                    margin-top: 5.0px;
                    margin-bottom: 5.0px;
    
                    background: var(--inventory-slot-color);
                    border-radius: 4.0px;
                    

                    .background-icon {
                        height: 100%;
                        width: 100%;

                        i {
                            color: var(--dark2);
                            font-size: 40px;

                            position: absolute;

                            top: 50%;
                            left: 50%;

                            transform: translate(-50%, -50%);
                        }
                    }


                    &:hover {
                        background: var(--inventory-slot-hover);
                        outline: 4.0px solid var(--blueOutline); 
                        cursor: pointer;
                    }
                }
            }
        }

        
        
    }

    .slot-info {
        position: relative;
        
        background: var(--inventory-slot-context-info);
        
        width: 100%;
        height: 80px;
        border-radius: 5.0px;

        margin-bottom: 5.0px;

        .label {
            color: var(--white);
            position: absolute;

            top: -2.0px;
            left: 15px;

            font-size: 16px;
        }

        .extra {
            position: absolute;

            top: 40px;
            left: 15px;

            width: 120px;
            height: 20px;


            .element {
                position: relative;

                display: inline-flex;

                margin-right: 5.0px;

                height: 100%;
                width: fit-content;
                
                border-radius: 3.0px;

                background: var(--inventory-slot-context-extra);

                .text {
                    color: var(--white);
                    position: relative;

                    top: -6.0px;
                    margin-left: 5.0px;
                    margin-right: 5.0px;

                    font-size: 10px;

                }
            }
        }
    }
}